.main-content {
  margin-top: 10rem;
  display: flex;
  gap: 1.5rem;
  max-width: 940px;
  .card-list {
    background-color: var(--juejin-layer-1);
    flex: 1;
    height: 200vh;
    border-radius: 2px;
  }

  .sidebar {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


 
  }
}