.main-content {
  margin-top: 10rem;
  display: flex;
  gap: 1.5rem;
  max-width: 940px;
  .card-list {
    flex: 1;
    height: 200vh;
  }

  .sidebar {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}