# Dependency directories
node_modules/

# next.js build output
.next

# typescript build output
dist
.env

#for debugging components
/src/pages/test.tsx
/src/assets/styles/test.module.css
# pwa
sw.js
sw.js.*
workbox-*.js
workbox-*.js.*
pages/debug.tsx
/temp

pages/dev

patch/dist
tmp
out
release.zip

run
.idea
.DS_Store

src/pages/dev

public/md.md

json-schema.json