.content {
  margin-top: 10rem;
  display: flex;
  gap: 2rem;
  .card-list {
    background-color: white;
    width: 700px;
    height: 100vh;
  }

  .sidebar {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}