.view-nav {
  position: fixed;
  left: 0;
  background-color: var(--juejin-layer-1);
  top: 5rem;
  width: 100%;
  height: 3.833rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  z-index: 200;
  transition: all 0.2s;
}


.nav-list{
  position: relative;
  max-width: 960px;
  overflow-x: auto;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  line-height: 1;
  word-break:keep-all;
  .nav-item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.167rem;
    color: var(--juejin-text-1);
    cursor: pointer;
    &.active{
      color: var(--juejin-brand-2-hover);
    }
    &:hover{
      color: var(--juejin-brand-2-hover);
    }
  }
}