.main-header {
  background: var(--juejin-navigation);
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  z-index: 250;

}
