* {
  box-sizing: border-box;
  transition: color 0.2s, background 0.2s, border 0.2s, box-shadow 0.2s ease-in;
}

/*
* TODO 优化滚动行为
*/
article {
  scroll-behavior: smooth;
}
html {
  font-size: 12px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: unset !important;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFon;
  /*  for firefox */
  scrollbar-color: var(--juejin-scrollbar) transparent;
  scrollbar-width: thin;
  overflow: overlay;
}

body {
  color: var(--juejin-font-1);
  background-color: var(--juejin-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: var(--juejin-gray-0);
}

::-webkit-scrollbar-thumb {
  background: var(--juejin-scrollbar);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background: var(--juejin-gray-0);
}

a {
  text-decoration: none;
  color: var(--juejin-font-3);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.arco-card {
  transition: color 0.2s, background 0.2s, border 0.2s, box-shadow 0.2s ease-in !important;
}
