* {
  box-sizing: border-box;
  transition: color 0.2s, background 0.2s, border 0.2s, box-shadow 0.2s !important;
}

html {
  font-size: 12px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: unset !important;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFon;
  overflow: overlay;
}

body {
  color: var(--juejin-font-1);
  background-color: var(--juejin-background);
  overflow: scroll;
}
::-webkit-scrollbar {
  background-color: var(--juejin-item-background);
  transition: all 0.2s;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--juejin-font-3);
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: var(--juejin-font-3);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
